@import "fonts";


header#navbar.navbar.container {
  font: 14px sans-serif;
  background: #0a364a;
  margin: 0;
  max-width: 100%;
  border-radius: 0;
  .navbar-header {
    @media screen and (max-width: 767px) {
      margin: 10px 0px;
    }

    .logo.navbar-btn {
      display: inline-block;

      img {
        width : 60px;
      }
    }

    h3 {
      margin: 0;
      color: #ffffff;
      font: normal 36px 'Cookie', cursive;
      display: inline-block;
      margin-top: 12px;

      a {
        font-size: 32px;
        // color: #417a9f;
        color: #fff;
        text-transform: capitalize;
        font-weight: normal;

        @media screen and (max-width: 767px) {
          font-size: 40px;
        }

        span {
          color: #f38c58;
        }
      }
    }

  }
  .navbar-collapse {
    nav{
      @media screen and (min-width: 768px) {
        float: right;
        margin-top: 12px;
      }
    }
    ul.navbar-nav {
      a {
        // color: #417a9f;
        color: #fff;
        position: relative;
        padding-bottom: 5px;
        &::after {
          content: '';
          height: 3px;
          left: 15px;
          width: 0;
          background: #52b1e7;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          position: absolute;
          bottom: 0;
        }
        &.active::after {
          // color: #f38c58;
          width: 60%;

        }
        &:hover::after {
          // color: #f38c58;
          // text-decoration: underline;
          width: 60%;
        }
      }
    }

    ul.dropdown-menu {
      a {
        @media screen and (min-width: 768px) {
          color: #111;
        }
      }
      &.active {
        color: #fff;
      }
      &:hover {
        color: #fff;
      }
    }
  }
}
