/* line 3, ../sass/display_products.scss */
.node-type-bags .node-bags .field-name-field-image {
  float: left;
}
@media screen and (max-width: 480px) {
  /* line 3, ../sass/display_products.scss */
  .node-type-bags .node-bags .field-name-field-image {
    float: none;
    width: 100%;
  }
}
/* line 14, ../sass/display_products.scss */
.node-type-bags .node-bags .field-name-commerce-price {
  display: inline-block;
  padding-top: 30px;
  padding-left: 50px;
  width: 50%;
}
@media screen and (max-width: 480px) {
  /* line 14, ../sass/display_products.scss */
  .node-type-bags .node-bags .field-name-commerce-price {
    padding-top: 20px;
  }
}
/* line 24, ../sass/display_products.scss */
.node-type-bags .node-bags .field-name-commerce-price .field-label {
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  /* line 24, ../sass/display_products.scss */
  .node-type-bags .node-bags .field-name-commerce-price .field-label {
    font-size: 18px;
  }
}
/* line 32, ../sass/display_products.scss */
.node-type-bags .node-bags .field-name-commerce-price .field-items {
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  /* line 32, ../sass/display_products.scss */
  .node-type-bags .node-bags .field-name-commerce-price .field-items {
    font-size: 16px;
  }
}
/* line 41, ../sass/display_products.scss */
.node-type-bags .node-bags .field-name-field-color, .node-type-bags .node-bags .field-name-field-hsn-number, .node-type-bags .node-bags .field-name-commerce-stock, .node-type-bags .node-bags .field-name-body {
  display: inline-block;
  padding-top: 20px;
  padding-left: 50px;
  width: 50%;
}
@media screen and (max-width: 480px) {
  /* line 41, ../sass/display_products.scss */
  .node-type-bags .node-bags .field-name-field-color, .node-type-bags .node-bags .field-name-field-hsn-number, .node-type-bags .node-bags .field-name-commerce-stock, .node-type-bags .node-bags .field-name-body {
    width: 100%;
  }
}
/* line 51, ../sass/display_products.scss */
.node-type-bags .node-bags .field-name-field-color .field-label, .node-type-bags .node-bags .field-name-field-hsn-number .field-label, .node-type-bags .node-bags .field-name-commerce-stock .field-label, .node-type-bags .node-bags .field-name-body .field-label {
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  /* line 51, ../sass/display_products.scss */
  .node-type-bags .node-bags .field-name-field-color .field-label, .node-type-bags .node-bags .field-name-field-hsn-number .field-label, .node-type-bags .node-bags .field-name-commerce-stock .field-label, .node-type-bags .node-bags .field-name-body .field-label {
    font-size: 18px;
  }
}
/* line 59, ../sass/display_products.scss */
.node-type-bags .node-bags .field-name-field-color .field-items, .node-type-bags .node-bags .field-name-field-hsn-number .field-items, .node-type-bags .node-bags .field-name-commerce-stock .field-items, .node-type-bags .node-bags .field-name-body .field-items {
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  /* line 59, ../sass/display_products.scss */
  .node-type-bags .node-bags .field-name-field-color .field-items, .node-type-bags .node-bags .field-name-field-hsn-number .field-items, .node-type-bags .node-bags .field-name-commerce-stock .field-items, .node-type-bags .node-bags .field-name-body .field-items {
    font-size: 16px;
  }
}
/* line 68, ../sass/display_products.scss */
.node-type-bags .node-bags .field-name-field-bags-reference {
  display: inline-block;
  width: 50%;
  padding-left: 50px;
}

/********************* AutoMobiles  ******************/
/* line 81, ../sass/display_products.scss */
body.front .main-container h1.page-header {
  border-bottom: none;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}
/* line 87, ../sass/display_products.scss */
body.front .main-container h2.block-title {
  color: black;
  text-align: center;
  font-size: 37px;
}
/* line 94, ../sass/display_products.scss */
body.front .view-accessories.view-id-accessories .view-header {
  margin-top: 30px;
}
/* line 96, ../sass/display_products.scss */
body.front .view-accessories.view-id-accessories .view-header h4 {
  color: #346B8A;
}
/* line 100, ../sass/display_products.scss */
body.front .view-accessories.view-id-accessories .view-filters {
  margin-bottom: 40px;
}
/* line 102, ../sass/display_products.scss */
body.front .view-accessories.view-id-accessories .view-filters select {
  width: 200px;
  background-color: #d8dcde;
}
/* line 106, ../sass/display_products.scss */
body.front .view-accessories.view-id-accessories .view-filters .views-exposed-form .views-exposed-widget .btn {
  margin-top: 1.4em;
  padding: 6px 40px;
  background-color: #346B8A;
  border-color: #346B8A;
}
/* line 113, ../sass/display_products.scss */
body.front .view-accessories.view-id-accessories .view-content {
  margin-bottom: 100px;
}
/* line 116, ../sass/display_products.scss */
body.front .view-accessories.view-id-accessories .view-content .item .thumbnail {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  margin: 0 0 15px;
  text-align: left;
}
/* line 123, ../sass/display_products.scss */
body.front .view-accessories.view-id-accessories .view-content .item .thumbnail .views-field-field-accessories-image .img {
  border-radius: 6px;
}
/* line 126, ../sass/display_products.scss */
body.front .view-accessories.view-id-accessories .view-content .item .thumbnail .views-field-title {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.4;
  color: #326b8a;
}
/* line 133, ../sass/display_products.scss */
body.front .view-accessories.view-id-accessories .view-content .item .thumbnail .views-field-add-to-cart-form .btn {
  background-color: #346B8A;
  border-color: #346B8A;
}
/* line 142, ../sass/display_products.scss */
body.front .view-accessories.view-id-accessories .view-content .views-field-field-accessories-image a {
  padding: 10px;
}
/* line 145, ../sass/display_products.scss */
body.front .view-accessories.view-id-accessories .view-content .views-field-field-accessories-image img {
  display: inline;
}
/* line 149, ../sass/display_products.scss */
body.front .view-accessories.view-id-accessories .view-content .views-field-title {
  margin-top: 10px;
}
/* line 152, ../sass/display_products.scss */
body.front .view-accessories.view-id-accessories .view-content .views-field {
  text-align: center;
}
/* line 154, ../sass/display_products.scss */
body.front .view-accessories.view-id-accessories .view-content .views-field:last-child {
  margin-bottom: 5px;
}

/*********** Automobiles *******************/
/* line 166, ../sass/display_products.scss */
body.page-cart .commerce-line-item-actions #edit-submit {
  display: none;
}
/* line 180, ../sass/display_products.scss */
body.page-cart .view-commerce-cart-form .view-content .views-table tbody tr.view-accessories td.views-field-commerce-unit-price .commerce-price-formatted-components tr td {
  padding: 3px;
  border-top: none;
  line-height: 1;
  font-size: 12px;
}
/* line 189, ../sass/display_products.scss */
body.page-cart .view-commerce-cart-form .view-content .views-table tbody tr.view-accessories td.views-field {
  padding: 4px 8px 0px 8px;
  font-size: 12px;
}
/* line 192, ../sass/display_products.scss */
body.page-cart .view-commerce-cart-form .view-content .views-table tbody tr.view-accessories td.views-field .form-item input.form-control {
  height: 25px;
}
/* line 195, ../sass/display_products.scss */
body.page-cart .view-commerce-cart-form .view-content .views-table tbody tr.view-accessories td.views-field .delete-line-item.btn {
  padding: 2px 8px;
  font-size: 12px;
}
/* line 198, ../sass/display_products.scss */
body.page-cart .view-commerce-cart-form .view-content .views-table tbody tr.view-accessories td.views-field .delete-line-item.btn .glyphicon {
  top: 2px;
}
/* line 206, ../sass/display_products.scss */
body.page-cart .view-commerce-cart-form .view-content .views-table tbody tr.view-accessories.even .views-field-commerce-unit-price .commerce-price-formatted-components tr:first-child {
  background: none;
}

/* line 229, ../sass/display_products.scss */
body.page-checkout .view-commerce-cart-summary .view-content .views-table tbody tr.view-accessories td.views-field-commerce-unit-price .commerce-price-formatted-components tr td, body.page-checkout .view-commerce-cart-summary .view-content .views-table tbody tr.view-accessories td.views-field-commerce-total .commerce-price-formatted-components tr td {
  padding: 3px;
  border-top: none;
  line-height: 1;
  font-size: 12px;
}
/* line 238, ../sass/display_products.scss */
body.page-checkout .view-commerce-cart-summary .view-content .views-table tbody tr.view-accessories td.views-field {
  padding: 4px 8px 0px 8px;
  font-size: 12px;
}
/* line 241, ../sass/display_products.scss */
body.page-checkout .view-commerce-cart-summary .view-content .views-table tbody tr.view-accessories td.views-field .form-item input.form-control {
  height: 28px;
}
/* line 244, ../sass/display_products.scss */
body.page-checkout .view-commerce-cart-summary .view-content .views-table tbody tr.view-accessories td.views-field .delete-line-item.btn {
  padding: 2px 8px;
}
/* line 246, ../sass/display_products.scss */
body.page-checkout .view-commerce-cart-summary .view-content .views-table tbody tr.view-accessories td.views-field .delete-line-item.btn .glyphicon {
  top: 2px;
}
/* line 254, ../sass/display_products.scss */
body.page-checkout .view-commerce-cart-summary .view-content .views-table tbody tr.view-accessories.even .views-field-commerce-unit-price .commerce-price-formatted-components tr:first-child, body.page-checkout .view-commerce-cart-summary .view-content .views-table tbody tr.view-accessories.even .views-field-commerce-total .commerce-price-formatted-components tr:first-child {
  background: none;
}
/* line 269, ../sass/display_products.scss */
body.page-checkout .view-commerce-cart-summary .view-footer .commerce-price-formatted-components tr td {
  padding: 3px;
  border-top: none;
  line-height: 1;
}

/* line 285, ../sass/display_products.scss */
body.page-user-orders- .field-name-commerce-order-total .commerce-price-formatted-components tr td {
  padding: 3px;
  border-top: none;
  line-height: 1;
}
/* line 296, ../sass/display_products.scss */
body.page-user-orders- .entity-commerce-order .view-commerce-line-item-table tr td.views-field {
  padding: 4px 8px 4px 8px;
}
/* line 302, ../sass/display_products.scss */
body.page-user-orders- .site-footer {
  display: none;
}
